sysex_input.log
*.lib
*.tmp
Debug/*
Debug No FFTW3/*
Release/*
*/Release/*
*/Debug/*
SndObj-2.6.6/msvc6.0/Debug/*
SndObj-2.6.6/msvc6.0/Release/*
SndObj-2.6.6/lib/SndObj.lib
Release/vc90.pdb
hlp/MirageEditor.chm
Mirage Editor.aps
*.ncb
*.suo
Release/*
/Mirage_Editor.VC.db
/Mirage_Editor.VC.VC.opendb
/UpgradeLog.htm
/ipch/MIRAGE DUMPER (STATIC LIBSAMPLERATE)-8f26b3fc/MIRAGE EDITOR-a7f1aa88.ipch
